/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button{
	-fx-background-color:  #86C232;
}

.anchorbackgroundDARK{
	-fx-background-color:  #222629;
}

.anchorbackgroundGREEN{
	-fx-background-color:  #86C232;
}

.anchorbackgroundMiddleDARK{
	-fx-background-color:  #474B4F;
}

.text{
	-fx-text-fill:  #86C232;
} 

.scroll-pane > .viewport{
	-fx-background-color:  #222629;
}

.scroll-pane{
	-fx-background-color:  #222629;
}

.vbox{
	-fx-alignment: center;
	-fx-background-color:  #86C232;
	-fx-padding: 10px;
    -fx-max-width: 1000px;
    -fx-max-height: 1000px;    
    -fx-background-insets: 10px;
    -fx-background-radius: 10px; 
}

.vboxTasks{
	-fx-background-color:  #474B4F;
	-fx-padding: 10px;
    -fx-max-width: 1000px;
    -fx-max-height: 10px;   
    -fx-background-insets: 10px;
    -fx-border-insets: 0px;
    -fx-background-radius: 10px; 
}

.taskNameLabel{
	-fx-font-weight: bold;
	-fx-text-fill: black; 
	-fx-font-size: 18;
}

.storyNameLabel{
	-fx-font-weight: bold;
	-fx-text-fill: black; 
	-fx-font-size: 20;
}

.storyAnyLabel{
	-fx-text-fill: white; 
	-fx-font-size: 15;
	-fx-alignment: center;
	-fx-pref-width: 40;
}

.taskAnyLabel{
	-fx-text-fill: white; 
	-fx-font-size: 15;
	-fx-alignment: center;
	-fx-pref-width: 60;
}

.storyHBox{
	-fx-alignment: center-left;
	-fx-padding: 10, 0, 0, 4;
	-fx-spacing: 20;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
     -fx-background-color: #222629; 
    -fx-font-weight:bold;
    -fx-text-fill: #86C232;
    -fx-font-size:20px;
}

.table-view .table-column{
    -fx-alignment:center;   
}

.table-view  .table-cell{
    -fx-font-weight:bold;
    -fx-font-size:20px; 
    -fx-background-color: transparent;  
    -fx-text-fill: #222629; 
    -fx-selection-bar: #86C232;   
}

.table-row-cell:selected {
    -fx-background-color: #86C232;
    -fx-background-insets: 0;
    -fx-background-radius: 1; 
}


.table-view2 .column-header-background .label{
     -fx-background-color: #222629; 
    -fx-font-size:10px;
}

.table-view2  .table-cell{
    -fx-font-size:10px; 
    -fx-background-color: transparent;  
    -fx-text-fill: black; 
    -fx-selection-bar: #86C232;    
}

.table-view2  .table-row-cell:selected {
	-fx-font-size:10px; 
    -fx-background-color: #86C232;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view3 .column-header-background .label{
     -fx-background-color: #222629; 
    -fx-font-size:15px;
}

.table-view3  .table-cell{
    -fx-font-size:15px; 
    -fx-background-color: transparent;  
    -fx-text-fill: black; 
    -fx-selection-bar: #86C232;    
}

.table-view3  .table-row-cell:selected {
	-fx-font-size:15px; 
    -fx-background-color: #86C232;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view4 .column-header-background .label{
     -fx-background-color: #222629; 
    -fx-font-size:17px;
}

.table-view4  .table-cell{
    -fx-font-size:17px; 
    -fx-background-color: transparent;  
    -fx-text-fill: black; 
    -fx-selection-bar: #86C232;    
}

.table-view4  .table-row-cell:selected {
	-fx-font-size:17px; 
    -fx-background-color: #86C232;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}


