/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button{
	-fx-background-color:  #86C232;
}

.anchorbackgroundDARK{
	-fx-background-color:  #222629;
}

.anchorbackgroundGREEN{
	-fx-background-color:  #86C232;
}

.anchorbackgroundMiddleDARK{
	-fx-background-color:  #474B4F;
}

.text{
	-fx-text-fill:  #86C232;
} 

.vbox{
	-fx-background-color:  #86C232;
	-fx-padding: 15px;
    -fx-max-width: 1000px;
    -fx-max-height: 1000px;    
    -fx-background-insets: 10px;
    -fx-border-insets: 10px;
    -fx-background-radius: 10px; 
}

.vboxTasks{
	-fx-background-color:  #474B4F;
	-fx-padding: 15px;
    -fx-max-width: 1000px;
    -fx-max-height: 50px;    
    -fx-background-insets: 10px;
    -fx-border-insets: 10px;
    -fx-background-radius: 10px; 
}